<div class="container">
  <div class="column">
    <div class="flex-space"></div>

    <div class="actions landing">
      <div class="flex-wrapper">
        <div class="title">
          <h1 class="title--text">Exploration</h1>
        </div>
        <a class="button button-med" (click)="signIn();">Sign in with Spotify</a>
        <a class="button button-med raised-white" href="https://www.spotify.com/us/">Get Spotify</a>
      </div>
    </div>

    <div class="links">
      <a class="link" routerLink="/about">About</a>
      <div class="vertical"></div>
      <a class="link" href="https://github.com/nblondhe/exploration-playlist-app">Github</a>
    </div>
    <footer>
      Copyright &copy; 2019 ExplorationBuilder
    </footer>
  </div>
</div>