<div class="container about">
  <div class="collage">
          <div class="overlay">
              <section class="collage--about">
                  <p class="statement">
                    Exploration allows users to find new music by building intentional, smooth-flowing playlists based off of music they
                    already love.
                  </p>
                  <p>One of my favorite features of Spotify is the delivery of recommendations based
                    on listening habits over a time.</p>
                  
                  <p>I wanted to access the same awesome recommendation engine, but with greater choice and granularity. Exploration
                    gathers a user's most recent saved tracks and provides recommendations, showing exactly which user-saved track they
                    are derived from.
                  </p>
                  <p>
                    I hope Exploration leads you to excellent music finds!
                  </p>
                  
                  <div class="links">
                    <a class="link collage--link" routerLink="/" routerLinkActive="active">Return to Exploration</a>
                    <div class="vertical"></div>
                    <a class="link collage--link" href="mailto:exploration.listening@gmail.com">Leave Feedback</a>
                  </div>

                </section>
              <div class="title">
                  <h1 class="title--text collage--brand link clickable" routerLink="/">Exploration</h1>
                </div>
            </div>
  </div>
</div>
