  <div class="space"></div>
  <div class="actions">
    <div class="wrapper">
      <div class="logo">
        <h1 class="brand">LikeFilter</h1>
      </div>
      <a class="button button-med" (click)="signIn();">Sign in with Spotify</a>
      <a class="button button-med stroked" href="https://www.spotify.com/us/">Get Spotify</a>
    </div>
  </div>
  <div class="links">
    <a class="link" href="#">About</a>
    <div class="vr"></div>
    <a class="link" href="https://github.com/nblondhe/LikeBuilder">Github</a>
  </div>
  <footer>
    Copyright &copy; 2019 LikeFilter
  </footer>