/*  TRACK ROW */

div.track-row.collapsible-parent:hover {
    background: var(--tertiary);
}

div.track-row.collapsible-parent:hover  > div.clickable.track-row-wrapper > .add,
div.track-row.collapsible-parent:hover  > div.clickable.track-row-wrapper > .track-actions {
    visibility: visible;
}


.track-info {
    max-height: 64px;
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.similar {
    /* visibility: hidden; */
    padding: 4px 64px 4px 12px;
    margin-right: 32px;
}


.track-actions {
    align-self:center;
    padding: 1rem;
    visibility: hidden;
}

.spacer {
    flex-grow: 1;
}

/* 
.expand {
    transform: rotate(0deg);
    transition: transform 1s linear;
  }
  
.expand.open {
    transform: rotate(180deg);
    transition: transform 1s linear;
  } */


@keyframes fadeIn {
    0% {
        transform: rotate(0);
        opacity: 0;
    }
    100% {
        visibility: visible;
        transform: rotate(180);
        opacity: 1;
    }
  }

.collapsed {
    max-height: 0;
    overflow: hidden;
    display: none;
    flex-direction: column;
    background-color: var(--tab);
}

.collapsed-top-inset {
    -webkit-box-shadow: inset 0 13px 12px -15px #000;
    -moz-box-shadow: inset 0 13px 12px -15px #000;
    box-shadow: inset 0 13px 12px -15px #000;
}

.collapsed-bottom-inset {
    -webkit-box-shadow: inset 0 -13px 12px -15px #000;
    -moz-box-shadow: inset 0 -13px 12px -15px #000;
    box-shadow: inset 0 -13px 12px -15px #000;
}

.rec-row {
    background: var(--sub-track);
}

.rec-row:hover {
    background: var(--tertiary);
}

.mute {
    opacity: .2;
}

.highlighted {
    background: var(--tertiary);
}

.rec-highlighted {
    background: var(--tertiary);
}

.rec-sub-header {
    background: var(--sub-track); 
    margin-right: auto; 
    width: 100%;
    padding: 24px 0px;

    display: flex;
    flex: 1;
    justify-content: space-between;
}

.rec-sub-header > .add {
    visibility: unset;
}

.recommendations--empty {
    text-align: center; 
    font-size: 14px; 
    font-weight: 100; 
    color: var(--text-muted); 
    margin:10% 15% 0 15%; 
    line-height: 24px; 
}