<div *ngIf="savedTrack" #collapseAnchor class="track-row collapsible-parent" (click)="setCurrent()">
  <img *ngIf="!savedTrack.addedToPlaylist" alt="add" class="add clickable" src="../assets/images/add_circle.svg"
    (click)="addTrack(savedTrack)" />
  <img *ngIf="savedTrack.addedToPlaylist" alt="remove" class="remove-circle clickable"
    src="../assets/images/remove_circle.svg" (click)="removeTrack(savedTrack)" />
  <img class="small-cover clickable" src="{{ savedTrack.coverLow }}" />
  <div class="track-info">
    <div class="track clickable track-spacing">{{ savedTrack.track }}</div>
    <div class="artist clickable track-spacing">
      <span *ngFor="let artist of savedTrack.artists; index as j">
        {{ artist.name }}
        <span *ngIf="savedTrack.artists.length > 1 && j !== savedTrack.artists.length - 1">
          ,&nbsp;
        </span>
      </span>
    </div>
  </div>
  <!-- <div *ngIf="hasRecommendations(savedTrack.id)" class="track-actions">
    <a class="button similar raised-white" style="padding-right: 48px;" (click)="toggleRecommendation($event, i)">
      Recommended Tracks
    </a>
    <img alt="expand" (click)="toggleRecommendation($event, i)" class="expand lg-screen clickable"
      src="../assets/images/expand_more_secondary.svg" />
    <img alt="expand" (click)="toggleRecommendation($event, i)" class="sm-screen clickable"
      src="../assets/images/expand_more.svg" />
  </div> -->
</div>