<div *ngIf="track" #dropdownAnchor class="track-row collapsible-parent">
  <img *ngIf="!track.addedToPlaylist" alt="Add track to playlist" class="add clickable"
    src="../assets/images/add_circle.svg" (click)="addTrack()" />
  <img *ngIf="track.addedToPlaylist" alt="Remove track from playlist" class="remove-circle"
    src="../assets/images/remove_circle.svg" (click)="removeTrack()" />
  <div class="clickable track-row-wrapper" (click)="setCurrent()">
    <img class="small-cover" src="{{ track.coverLow }}" />
    <div class="track-info">
      <div class="track track-spacing">{{ track.track }}</div>
      <div class="artist track-spacing">
        <span *ngFor="let artist of track.artists; index as j">
          {{ artist.name }}
          <span *ngIf="track.artists.length > 1 && j !== track.artists.length - 1">
            ,&nbsp;
          </span>
        </span>
      </div>
    </div>
    <div *ngIf="recommendedTracks && recommendedTracks.length > 0" class="track-actions"
      (click)="toggleRecommendations()" [ngStyle]="{'visibility': dropdownState === 'in'? 'visible' : 'hidden'}">
      <a class="button similar raised-white" style="padding-right: 48px;">
        Recommended Tracks
      </a>
      <!-- <img [@expansionArrowRotate]='expansionArrowState' alt="expand" class="expand lg-screen"
        src="../assets/images/expand_more_secondary.svg" /> -->
        <img alt="expand" class="expand lg-screen"
        src="../assets/images/expand_more_secondary.svg" />
      <!-- <img alt="expand" class="sm-screen" src="../assets/images/expand_more.svg" /> -->
    </div>
  </div>
</div>

<!-- RECOMMENDED TRACK DROPDOWN PANEL -->
<div *ngIf="recommendedTracks" #dropdown class="collapsed" [@dropdownSlide]="dropdownState">
  <app-recommended-track *ngFor="let recommendedTrack of recommendedTracks; index as i;"
    [ngClass]="{'collapsed-bottom-inset': i == 4, 'collapsed-top-inset': i == 0}" class="track-row rec-row"
    [track]="recommendedTrack" (current)="OnRecommendationSelected($event)" (playlistAdd)="OnRecommendationAdd($event)"
    (playlistRemove)="OnRecommendationRemove($event)">
  </app-recommended-track>
</div>