
/*  ALBUM DETAIL  */
.detail--album--cover {
    width: 75%;
    /* min-width: 275px; */
    /* margin: 12px 32px; */
    border-radius: 24px;
    max-width: 500px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.detail--album--cover.collage {
    width: 100%;
}


.detail--currentTrack {
    padding: 1rem 0 .5rem;
    font-size: 1rem;
    font-weight: 800;
    font-style: italic;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail--currentArtist {
    padding-top: .25rem;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
}

.flex-wrapper.playlist-actions {
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 4rem;
}


.flex-wrapper.playlist-actions > a {
    width: 40%;
    margin-right: 16px;
}

figure {
    margin: 0;
    min-height: 70%;
}

figcaption {
    width: 75%;
    height: 10rem;
}


.column-tracks {
    flex: 6;
    display: flex;
    flex-direction: column;
    min-width: 572px;
    max-width: 50%;
}


.flex-wrapper {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title.footer {
    margin: 12px 0 8px 0;
}

.brand-med {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 16px;
}

/* .top-spacing {
    min-height: 48px;
} */

.detail {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.detail--table {
    flex-direction: row;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.detail--list {
    list-style: none;
    font-size: .75em;
    /* display: flex; */
    /* flex-direction: column; */
    padding: .25rem;
    margin: 0;
}

.detail--list__item {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    margin-bottom: .5rem;
}

.attribute {
    font-weight: 800;
}

.value {
    font-weight: 400;
    margin-left: 1rem;
}

.detail--table-val {
    font-weight: 800;
    font-size: .9rem;
}

.detail--album--recommended {
    flex-direction: row;
    font-size: .9rem;
    padding: .5em;
    color: var(--tab);
    background: var(--accent);
    border-radius: 10px;
}

.detail--album--recommended > .value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail--album--recommended > .attribute {
    min-width: 4.25rem;
}

.user {
    position: relative;
    margin-bottom: 20px;
}

.user > span:first-child {
    margin-right: 35px;
}

.user--name {
    position: relative;
    color: var(--text);
}

.user--name--logo {
    position: absolute;
    top: -2px;
    left: -25px;
    height: 20px;
}
/*  END ALBUM DETAIL */


/*  PLAYLIST HEADERS */
.tracks-wrapper {
    min-width: 525px;
    justify-content: flex-start;
    align-self: center;
    width: 85%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.flex-container {
    width: 100%;
    flex: 1;
    margin-top: 16px;
}


/*  CURRENT PLAYLIST WINDOW*/
.playlistWrapper {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 100%;
}

.playlist--empty {
    text-align: center; 
    font-size: 1em; 
    font-weight: 100; 
    color: var(--text-muted); 
    margin:10% 15% 0 15%; 
    line-height: 24px; 
}

.flex-container.playlist {
    width: 100%;
    flex: 1;
    margin-top: 0;
    margin-bottom:  0;
    overflow: auto;
    overflow-y: scroll;
    height: 180px;
    max-height: 180px;
    background: unset;
    width: 80%;

    -webkit-box-shadow: inset 0 13px 12px -15px #000;
    -moz-box-shadow: inset 0 13px 12px -15px #000;
    box-shadow: inset 0 13px 12px -15px #000;

}

.flex-container.playlist::-webkit-scrollbar {
  width: 10px;
}
.flex-container.playlist::-webkit-scrollbar-track {
  background : rgba(255,255,255,0.0);
  border-radius: 10px;
}
.flex-container.playlist::-webkit-scrollbar-thumb {
  background : white; 
  border-radius: 10px;
} 

.flex-container.playlist > .playlist--track {
    background: unset;
}

.flex-container.playlist > 
.playlist--track >
.track-row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.flex-container.playlist > 
.playlist--track >
.track-row >
div.remove-circle.clickable {
    margin-left: 18px;
    margin-top: 3px;
}


.playlist--track--detail{
    margin-left: 12px;
    display: flex;
    vertical-align: bottom;
}

.playlist--track--detail > .artist {
    margin: .5rem 0 0 24px;
    font-size: 12px;
}

.playlist--track--detail > .track.clickable {
    margin-top: 6px;
    font-size: 14px;
}

.playlist--trackpacer {
    height: 10px;
}

.flex-container.playlist > .playlist--track > .track-row {
    padding: 0;
}
/*  END CURRENT PLAYLIST WINDOW*/

#appHeader {
    padding-bottom: 20px;
    padding-top: 36px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.appHeader--links {
   display: flex;
}

.appHeader--title {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.appHeader--title--text {
    color: var(--text);
    font-size: 40px;
    font-weight: 800;
    border-radius: 12px 12px 0 0;
    padding: 0 48px 12px 48px;
    display: flex;
    justify-content: space-between;
    /* position: relative; */

}

.appHeader--title--sub {
    font-size: 18px; 
    padding: 24px 48px 24px 48px;
}


.links.about {
    justify-content: flex-end; 
    flex: 1; 
}

.links.about > a {
    margin-top: 18px;
    font-size: 16px;
}

.vertical {
    margin: 20px 18px 0 18px;
    border-left: 1px solid var(--secondary);
    height: 12px;
}


/*  END PLAYLIST HEADERS */



/* TOAST MSGS */
.notification {
    position: absolute;
    z-index: 1;
    bottom: 16px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.notification--message {
    border-radius: 10px;
    text-align: center;
    padding: 42px 24px 0 24px;
}

.notification--message--content {
    width: 424px;
    text-align: center;
    font-weight: 500;
}

.dismiss {
    margin: 32px 0 24px 0;
    width: 100px;
    border: 0;
}

.notifSuccess {
    background: var(--accent);
}

.notifError {
    background: #fff;
}
