<div class="container">

<!-- TRACK DETAIL -->
  <div class="column">
    <div class="detail">
      <figure *ngIf="currentTrack" class="flex-wrapper detail--album">
        <img class="detail--album--cover" src="{{ currentTrack.coverHigh }}" />
        <figcaption>
          <div class="detail--currentTrack">
            {{currentTrack.track}}
            <div class=" detail--currentArtist" *ngFor="let artist of currentTrack.artists; index as i">
              {{ artist["name"] }}
            </div>
          </div>
          <div>
            <div class="flex-wrapper detail--album--recommended"
            [ngStyle]="{'visibility': currentTrack.basedOn ? 'visible' : 'hidden'}">
            <span class="attribute detail--table-seeded">Similar to</span>
            <span class="value detail--table-seeded">{{currentTrack.basedOn}}</span>
          </div>
            <div class="flex-wrapper detail--table">
              <ul class="detail--list">
              <li class="detail--list__item">
                <span class="attribute">Album</span>
                <span class="value">{{ currentTrack.album }}</span>
              </li>
              <li class="detail--list__item">
                <span class="attribute">Released</span>
                <span class="value">{{currentTrack.release | date : 'longDate'}}</span>
              </li>
              <li class="detail--list__item" [ngStyle]="{'visibility': currentTrack.addedOn ? 'visible' : 'hidden'}">
                <span class="attribute">Added on</span>
                <span class="value">{{currentTrack.addedOn | date : 'MMMM, yyyy'}}</span>
              </li>
            </ul>
            <ul class="detail--list">
              <li class="detail--list__item">
                <span class="attribute">Album</span>
                <span class="value">{{ currentTrack.album }}</span>
              </li>
              <li class="detail--list__item">
                <span class="attribute">Released</span>
                <span class="value">{{currentTrack.release | date : 'longDate'}}</span>
              </li>
              <li class="detail--list__item" [ngStyle]="{'visibility': currentTrack.addedOn ? 'visible' : 'hidden'}">
                <span class="attribute">Genre</span>
                <span class="value">{{currentTrack.genre}}</span>
              </li>
            </ul>
          </div>
        </div>

        </figcaption>
      </figure>

<!-- CURRENT PLAYLIST WINDOW -->
      <div class="playlist flex-container">
        <div class="playlist--trackSpacer"></div>
        <div *ngIf="currentPlaylist.length == 0" class="playlist--empty">
          Explore saved tracks and recommendations to build your playlist.
        </div>
        <div *ngFor="let playlistTrack of currentPlaylist; index as i" class="playlist--track">
          <div class="track-row" (click)="currentTrack = currentPlaylist[i].track">
              <div alt="Remove track from playlist" class='remove-circle clickable' (click)="OnRemove(playlistTrack.track, playlistTrack.component)">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/>
                  <path style="fill: #FFF;" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z"/></svg>
              </div>
      
            <div class="playlist--track--detail">
              <div class="track clickable ">{{ playlistTrack.track.track }}</div>
              <div class="artist clickable" *ngFor="let artist of playlistTrack.track.artists; index as j">
                <span *ngIf="j < 1">
                  {{ artist.name }}
                  <!-- <span *ngIf="playlistTrack.track.artists.length > 1 && 
                              (j !== 2 && j !== playlistTrack.track.artists.length - 1)">,&nbsp;</span> -->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="playlist--trackSpacer"></div>
      </div>
      
      <div class="flex-wrapper playlist-actions">
        <a class="button button-med outlined" (click)="clearPlaylist();">Clear Playlist</a>
        <a class="button button-med" (click)="createPlaylist();">Create Playlist</a>
      </div>
      <aside [@fadeAnimation]="{value: animationState, params:
            { fadeIn: 500, fadeOut: 500 }}" (@fadeAnimation.done)="onFadeFinished($event)"
        *ngFor="let notif of notifications" class="notification">
        <div class="notification--message" *ngIf="!notif.dismissed" 
        [ngClass]="{'notifError': notif.style=='error', 'notifSuccess': notif.style=='success'}">
          <div class="notification--message--content">{{notif.content}}</div>
          <button class="button button-med outlined dismiss" (click)="closeNotification(notif)">Close</button>
        </div>
      </aside>
  </div>

<!-- PLAYLIST ACTION -->
    <footer>
      <div class="user">
        <span>
          Signed in as
        </span>
        <span class="user--name">
          <img alt="Spotify logo" class="user--name--logo" src="../assets/images/Spotify_Icon_RGB_White.png" />
          <a class="link" href="https://www.spotify.com">
            <span *ngIf="spotifyUser">
              {{ spotifyUser.displayName }}
            </span>
          </a>
        </span>
      </div>
    </footer>
  </div>
  
<!-- APP HEADER -->
  <div class="column-tracks">
    <div *ngIf="savedTracks" class="tracks-wrapper">

          <!-- <div id="appHeader" class="appHeader">
              <div class="appHeader--links">
                <div class="links about">
                  <a class="link" routerLink="/about">About</a>
                  <div class="vertical"></div>
                  <a class="link" href="https://github.com/nblondhe/exploration-playlist-app">Github</a>
                </div>
              </div>
              
              <div class="appHeader--title">
                <span class="appHeader--title--text">
                  Exploration
                </span>
                <span class="appHeader--title--sub">
                  Saved Tracks and Recommendations
                </span>
              </div>
            </div> -->
        <div id="appHeader" class="appHeader">
          <div class="appHeader--title--text">
            <div>
              Exploration
            </div>
            <div class="appHeader--links">
              <div class="links about">
                <a class="link" routerLink="/about">About</a>
                <div class="vertical"></div>
                <a class="link" href="https://github.com/nblondhe/exploration-playlist-app">Github</a>
              </div>
            </div>
          </div>
        </div>
<!-- SAVED TRACKS AND RECOMMENDATIONS -->
        <div class="flex-container">
          <div *ngFor="let track of savedTracks; index as i; trackBy: trackById" class="tracks-list">
            <app-saved-track [track]="track" 
                    [recommendedTracks]="trackRecommendationMap[track.id]"
                    (current)="OnSelected($event)"
                    (playlistAdd)="OnAdd($event)"
                    (playlistRemove)="OnRemove($event)"
                    >
            </app-saved-track>
          </div>
        </div>

  </div>
</div>