<div class="container">

  <div class="lside">
    <div class="space signedin"></div>
  <div class="actions signedin">
    <div class="wrapper">
      <img class="album-cover" src="{{ currentTrack.coverHigh }}" />
    <div class="current-track">
      {{currentTrack.track}}
      /
      {{currentTrack.album}}      
    </div>
    <div *ngFor="let artist of currentTrack.artists; index as i" class="current-artist">
        {{ artist["name"] }}
    </div>
  </div>
</div>
<div class="wrapper">
    <a class="button button-med stroked">Clear Playlist</a>
    <a class="button button-med">Create Playlist</a>
  </div>
  <footer>
    <h1 class="brand footer">LikeFilter</h1>
  </footer>
</div>

<div class="rside border">
  <div class="top">
    <div class="links">
      <a class="link">About</a>
      <div class="vr"></div>
      <a class="link" href="https://github.com/nblondhe/LikeBuilder">Github</a>
    </div>
    <div class="user">
      <img
      alt="Spotify logo"
        class="spotify-logo"
        src="../assets/images/Spotify_Icon_RGB_White.png"
        />
        <span class="username">
          <a class="link">
          {{ spotifyUser }}
        </a>
      </span>
    </div>
  </div>
  <div *ngIf="savedTracks" class="content-wrapper start">
    <div class="track-row track-header">
      <span>Saved Tracks</span>
    </div>
    <div *ngFor="let track of savedTracks; index as i" class="tracks-list">
      <div class="track-row collapsible-parent" (click)="updateCurrentTrack(i)">
        <img class="small-cover clickable" src="{{ track.coverLow }}" />
        <div>
          <div class="track clickable track-spacing">{{ track.track }}</div>
          <div class="artist clickable track-spacing">
            <span *ngFor="let artist of track.artists; index as j">
              {{ artist.name }}
              <span *ngIf="
                track.artists.length > 1 && j !== track.artists.length - 1
                ">,&nbsp;</span>
            </span>
          </div>
        </div>
        <div class="track-actions">
          <img alt="remove" class="remove clickable" src="../assets/images/remove_icon.svg" />
          <img alt="expand" (click)="toggleRecommendation($event, i)" class="expand clickable" src="../assets/images/expand_more.svg" />
        </div>
        </div>
        <!-- sub track recommendation -->
        <div *ngIf="savedTracks[0].recs" #recommended class="track-row collapsed">
          <img class="small-cover clickable" src="{{savedTracks[0].recs[0].coverLow}}" />
          <div>
            <div class="track clickable track-spacing"> {{ savedTracks[0].recs[0].track }}</div>
            <div class="artist clickable track-spacing">
                <span *ngFor="let artist of savedTracks[0].recs[0].artists; index as k">
                    {{ artist.name }}
                    <span *ngIf="
                    savedTracks[0].recs[0].artists.length > 1 && k !== savedTracks[0].recs[0].artists.length - 1
                      ">,&nbsp;</span>
                  </span>
            </div>
          </div>
          <div class="track-actions">
            <img alt="remove" class="remove clickable" src="../assets/images/remove_icon.svg" />
            <img alt="expand" class="expand clickable sub-track" src="../assets/images/expand_more.svg" />
          </div>
        </div>
        </div>
    </div>
  </div>

</div>