/*  LEFT SIDE  */

.album-cover {
    width: 75%;
    min-width: 275px;
    margin: 12px 32px;
    border-radius: 24px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.current-track {
    padding: 12px 48px 4px;
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
}

table {
    margin: 16px 0 48px;
    border-spacing: 24px 6px;
}

table > tbody > tr > td.attr {
    font-size: 14px;
    font-weight: 800;
    text-align: right;
}

table > tbody > tr > td.val {
    font-size: 14px;
    font-weight: 400;
}

/* .wrapper.playlist-actions {
    flex-direction: row;
    justify-content: center;
}

.wrapper.playlist-actions > a {
    width: 40%;
    margin-right: 16px;
} */

.brand.footer {
    margin: 12px 0 8px 0;
}

.brand-med {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 16px;
}

.top-spacing {
    min-height: 48px;
}

.actions {
    justify-content: flex-start;
    padding-bottom: 48px;
}

.user {
    /* margin: 0 0 12px; */
    position: relative;
}

.user > span:first-child {
    margin-right: 35px;
}

.username {
    position: relative;
    color: var(--text);
}

.spotify-logo {
    position: absolute;
    top: -2px;
    left: -25px;
    height: 20px;
}


/* 
.top {
    display: flex;
    flex-direction: row;
    padding: 24px 48px;
    justify-content: flex-start;
} */

/*  PLAYLIST HEADERS */
.content-wrapper {
    background: var(--tab);
    padding-top: 48px;
    justify-content: flex-start;
    align-self: center;
    width: 85%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.content-container {
    width: 100%;
    background: var(--tab);
    flex: 1;
    margin-top: 16px;
}

.track-row.action-header {
    color: var(--text);
    border: none;
    background: var(--tab);
    padding: 48px 0 24px;
    flex-wrap: wrap;
}

.tabContainer {
    /* background: var(--tab); */
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.tabHeader {
    margin: 28px 0px 0px;
    position: relative;
    /* border-bottom: solid 8px var(--accent); */
}

.border {
    /* border-bottom: solid 3px var(--accent);
    padding: 0 0 16px 76px; */
    /* box-shadow: -13px 18px 24px -20px #000; */
    border-bottom: solid 6px var(--accent);
    padding: 0 0 24px 0;
}


.tabHeader > .border > span:hover {
    cursor: pointer;
    color: var(--white);
}


.saved-sub-header {
    background: var(--tab); 
    margin-right: auto; 
    width: 100%;

    display: flex;
    justify-content: center;
}

.instruction {
    max-width: 60%;
    margin: 24px 24px;
    font-size: 13px;
    color: var(--text-muted);
}

.saved-tab-icon {
    position: absolute;
    left: 124px;
    top: 2px;
}

.playlist-tab-icon {
    position: absolute;
    left: 124px;
    top: 2px;
}

.tab {
    /* margin-left: 48px; */
    color: var(--text-muted);
    font-size: 18px;
    font-weight: 800;
    border-radius: 12px 12px 0 0;

    padding: 24px 48px 24px 48px;
    position: relative;

}

/* .active-tab {
    border-bottom: solid 5px var(--accent);
} */

.active-tab {
    /* border-bottom: solid 5px var(--accent); */
    color: white;
    background: var(--accent);
    /* border-bottom: solid 5px var(--accent); */

}


/* .content-wrapper > .tabContainer > .tabHeader > .border >  div:nth-child(n+1):hover {
    background: var(--accent);
} */
.content-wrapper > div > div > div > div:nth-child(n+1):hover {
    background: var(--accent);
}
/*  END PLAYLIST HEADERS */



/*  TRACK ROW */

.tracks-list {
    width: 100%;
    margin-right: auto;
    background: var(--tab);
}

.track-row:hover > .remove,
.track-row:hover > .add,
.track-row:hover > .remove-circle,
.track-row:hover > .track-actions > .similar,
.track-row:hover > .track-actions > .expand {
    visibility: visible;
}

.track-row.collapsible-parent.highlighted > .track-actions > .similar,
.track-row.collapsible-parent.highlighted > .track-actions > .expand,
.track-row.collapsible-parent.highlighted > .add {
    visibility: visible;
}

.track-row {
    font-family: 'Lato', sans-serif;
    color: var(--text);
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    padding: 18px 0px;
    /* min-width: 375px; */
}

.small-cover {
    display: flex;
    border-radius: 5px;
    min-width: 64px;
    margin-right: 12px;
    margin-left: 32px;
}

.track-spacing {
    margin-top: 4px;
}

.track-info {
    margin-right: 12px;
    max-width: 164px;
}

.track, .artist {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}

.artist {
    font-size: 12px;
    color: var(--text-muted);
}

.track-actions {
    margin-left: auto;
    align-self:center;
    position: relative;
}

/* .similar {
    position: absolute;
    visibility: hidden;
    top: 5px;
    left: -64px;
} */

.similar {
    visibility: hidden;
    padding: 4px 64px 4px 12px;
    margin-right: 32px;
}

.expand {
    position: absolute;
    visibility: hidden;
    left: 124px;
    top: 2px;
}

.expand.sub-track {
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        transform: rotate(0);
        opacity: 0;
    }
    100% {
        visibility: visible;
        transform: rotate(180);
        opacity: 1;
    }
  }

/* Add active to these classes so no animation on list loading */
.add {
    /* visibility: hidden; */
    margin-left: 32px;
    height: 27px;
    align-self: center;
    animation: .75s fadeIn;
    animation-fill-mode: forwards;
}

.remove-circle {
    /* visibility: hidden; */
    margin-left: 32px;
    height: 27px;
    align-self: center;
    animation: .75s fadeIn;
    animation-fill-mode: forwards;
}

div.add-all {
    flex: .25;
    position: relative;
}

div.add-all > .add {
    position: absolute;
    top: -4px;
    left: -64px;
    visibility: visible;
    height: 25px;
    align-self: center;
}
/*  END TRACK ROW */


/*  COLLAPSED AND RECOMMENDATION ROW */
.collapsed {
    max-height: 0;
    overflow: hidden;
    display: none;
    flex-direction: column;
    background-color: var(--tab);
}

.collapsed-top-inset {
    -webkit-box-shadow: inset 0 13px 12px -15px #000;
    -moz-box-shadow: inset 0 13px 12px -15px #000;
    box-shadow: inset 0 13px 12px -15px #000;
}

.collapsed-bottom-inset {
    -webkit-box-shadow: inset 0 -13px 12px -15px #000;
    -moz-box-shadow: inset 0 -13px 12px -15px #000;
    box-shadow: inset 0 -13px 12px -15px #000;
}

.rec-row {
    background: var(--sub-track);
}

.rec-row:hover {
    background: var(--accent);
}

.mute {
    opacity: .2;
    /* visibility: hidden; */
}

.highlighted {
    background: var(--accent);
}

.rec-highlighted {
    background: var(--accent);
}


.rec-sub-header {
    background: var(--sub-track); 
    margin-right: auto; 
    width: 100%;
    padding: 24px 0px;

    display: flex;
    flex: 1;
    justify-content: space-between;
}

.rec-sub-header > .add {
    visibility: unset;
}
/* END COLLAPSED AND RECOMMENDATION ROW */


/* TOAST */
.notif {
    position: fixed;
    left: 20px;
    bottom: -50px;
    background-color: #323232;
    padding: 12px 24px 17px 24px;
    vertical-align: middle;
    color: #fff;
    box-shadow: 0 7px 18px rgba(0,0,0,0.2);
    border-radius: 1px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  
  .peek {
    -webkit-animation: peek 5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: peek 5s forwards;
    animation-delay: 500ms;
  }
  
  .show {
    -webkit-animation: show 0.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: show 0.5s forwards;
    animation-delay: 500ms;
  }
  
  @-webkit-keyframes peek {
        0% { bottom: -50px; }
       10% { bottom: 80px; }  /*demo purposes; change to 20px*/
       90% { bottom: 80px; }  /*demo purposes; change to 20px*/
      100% { bottom: -50px; }
  }
  
  @keyframes peek {
        0% { bottom: -50px; }
       10% { bottom: 80px; }  /*demo purposes; change to 20px*/
       90% { bottom: 80px; }  /*demo purposes; change to 20px*/
      100% { bottom: -50px; }
  }
  
  
  @-webkit-keyframes show {
      100% { bottom: 20px; }
  }
  
  @keyframes show {
      100% { bottom: 20px; }
  }


@media only screen and (min-width : 684px) {

    /* .expand.clickable.lg-screen,
    .similar {
        display: none;
        visibility: hidden;
    } */
    .clickable.sm-screen {
        display: none;
    }


    
}

@media only screen and (max-width : 684px) {

    .expand.clickable.lg-screen,
    .similar {
        display: none;
        visibility: hidden;
    }
    .clickable.sm-screen {
        position: relative;
        padding-right: 32px;
    }
    
    .brand-med {
        font-size: 32px;
    }
}
