<div class="container">

<!-- BEGIN LEFT SIDE -->
  <div class="column">
    <div class="top-spacing"></div>
    <div class="detail">
      <div *ngIf="currentTrack" class="flex-wrapper detail--album">
        <img class="detail--album--cover" src="{{ currentTrack.coverHigh }}" />
        <div class="detail--currentTrack">
          {{currentTrack.track}}
        </div>
        <div>
          <div *ngFor="let artist of currentTrack.artists; index as i">
            {{ artist["name"] }}
          </div>
        </div>
          <table>
            <tr>
              <td class="attribute">Album</td>
              <td class="value">{{ currentTrack.album }}</td>
            </tr>
            <tr>
              <td class="attribute">Released</td>
              <td class="value">{{currentTrack.release | date : 'longDate'}}</td>
            </tr>
            <tr *ngIf="currentTrack.addedOn">
              <td class="attribute">Added on</td>
              <td class="value">{{currentTrack.addedOn | date : 'MMMM, yyyy'}}</td>
            </tr>
            <tr *ngIf="currentTrack.basedOn">
              <td class="attribute">Similar to</td>
              <td class="value">{{currentTrack.basedOn}}</td>
            </tr>
          </table>
      </div>

<!-- CURRENT PLAYLIST WINDOW -->
      <div class="playlist flex-container">
        <div class="playlist--trackSpacer"></div>
        <div *ngIf="currentPlaylist.length == 0" class="playlist--empty">
          Explore saved tracks and recommendations to build your playlist.
        </div>
        <div *ngFor="let track of currentPlaylist; index as i" class="playlist--track">
          <div class="track-row" (click)="currentTrack = currentPlaylist[i]">
            <img alt="remove" class="remove-circle clickable" src="../assets/images/remove_circle.svg"
              (click)="removeTrack(track, i)" />
      
            <div class="playlist--track--detail">
              <div class="track clickable ">{{ track.track }}</div>
              <div class="artist clickable" *ngFor="let artist of track.artists; index as j">
                {{ artist.name }}
                <span *ngIf="
                        track.artists.length > 1 && j !== track.artists.length - 1
                        ">,&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
        <div class="playlist--trackSpacer"></div>
      </div>
<!-- END CURRENT PLAYLIST WINDOW -->

      <div class="flex-wrapper playlist-actions">
        <a class="button button-med outlined" (click)="clearPlaylist();">Clear Playlist</a>
        <a class="button button-med" (click)="createPlaylist();">Create Playlist</a>
      </div>
    </div>

    <footer>
      <div class="user">
        <span>
          Signed in as
        </span>
        <span class="user--name">
          <img alt="Spotify logo" class="user--name--logo" src="../assets/images/Spotify_Icon_RGB_White.png" />
          <a class="link" href="https://www.spotify.com">
            <span *ngIf="spotifyUser">
              {{ spotifyUser.displayName }}
            </span>
          </a>
        </span>
      </div>
    </footer>
    <aside [@fadeAnimation]="{value: animationState, params:
          { fadeIn: 350, fadeOut: 350 }}" (@fadeAnimation.done)="onFadeFinished($event)"
      *ngFor="let notif of notifications" class="notification">
      <div class="notification--message" *ngIf="!notif.dismissed" 
      [ngClass]="{'notifError': notif.style=='error', 'notifSuccess': notif.style=='success'}">
        <div class="notification--message--content">{{notif.content}}</div>
        <button class="button button-med outlined dismiss" (click)="closeNotification(notif)">Close</button>
      </div>
    </aside>
  </div>
<!-- END LEFT SIDE -->

<!-- BEGIN RIGHT SIDE -->

<!-- APP HEADER -->
  <div class="column-tracks">
    <div *ngIf="savedTracks" class="tracks-wrapper">

          <div id="appHeader" class="appHeader">
              <div class="appHeader--links">
                <div class="links about">
                  <a class="link" routerLink="/about" routerLinkActive="active">About</a>
                  <div class="vertical"></div>
                  <a class="link" href="https://github.com/nblondhe/exploration-playlist-app">Github</a>
                </div>
              </div>
              
              <div class="appHeader--title">
                <span class="appHeader--title--text">
                  Exploration
                </span>
                <span class="appHeader--title--sub">
                  Saved Tracks and Recommendations
                </span>
              </div>
            </div>

<!-- SAVED TRACKS AND RECOMMENDATIONS -->
        <div class="flex-container">
        
        
          <div *ngFor="let track of savedTracks; index as i; trackBy: trackById" class="tracks-list">
            <div #collapseAnchor class="track-row collapsible-parent" (click)="currentTrack = savedTracks[i]">
              <img *ngIf="!track.addedToPlaylist" alt="add" class="add clickable" src="../assets/images/add_circle.svg"
                (click)="addTrack(track,'saved', i)" />
              <img *ngIf="track.addedToPlaylist" alt="remove" class="remove-circle clickable"
                src="../assets/images/remove_circle.svg" (click)="removeTrack(track, i)" />
              <img class="small-cover clickable" src="{{ track.coverLow }}" />
              <div class="track-info">
                <div class="track clickable track-spacing">{{ track.track }}</div>
                <div class="artist clickable track-spacing">
                  <span *ngFor="let artist of track.artists; index as j">
                    {{ artist.name }}
                    <span *ngIf="track.artists.length > 1 && j !== track.artists.length - 1">
                      ,&nbsp;
                    </span>
                  </span>
                </div>
              </div>
              <div *ngIf="hasRecommendations(track.id)" class="track-actions">
                <a class="button similar raised-white" style="padding-right: 48px;" (click)="toggleRecommendation($event, i)">
                  Recommended Tracks
                </a>
                <img alt="expand" (click)="toggleRecommendation($event, i)" class="expand lg-screen clickable"
                  src="../assets/images/expand_more_secondary.svg" />
                <img alt="expand" (click)="toggleRecommendation($event, i)" class="sm-screen clickable"
                  src="../assets/images/expand_more.svg" />
              </div>
            </div>
        
            <div id="panel-{{ i }}" class="collapsed ">
              <div *ngFor="let rec of trackRecommendationMap[track.id]; index as k; trackBy: trackById"
                [ngClass]="{'collapsed-bottom-inset': k == 4, 'collapsed-top-inset': k == 0}" class="track-row rec-row"
                (click)="currentTrack = trackRecommendationMap[track.id][k]">
                <img *ngIf="!rec.addedToPlaylist" alt="add" class="add clickable" src="../assets/images/add_circle.svg"
                  (click)="addTrack(rec, 'recommended', track.id, k)" />
                <img *ngIf="rec.addedToPlaylist" alt="remove" class="remove-circle clickable"
                  src="../assets/images/remove_circle.svg" (click)="removeTrack(rec, k)" />
        
                <img class="small-cover clickable" src="{{ rec.coverLow }}" />
                <div>
                  <div class="track clickable track-spacing"> {{ rec.track }}</div>
                  <div class="artist clickable track-spacing">
                    <span *ngFor="let artist of rec.artists; index as k">
                      {{ artist.name }}
                      <span *ngIf="rec.artists.length > 1 && k !== rec.artists.length - 1">,&nbsp;</span>
                    </span>
                  </div>
                </div>
                <div class="track-actions">
                </div>
              </div>
            </div>
          </div>
        
        
        </div>

  </div>
</div>