  <div *ngIf="!track.addedToPlaylist" alt="Add track to playlist" class='add clickable' (click)="addTrack()" >
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/></svg>
  </div>
  <div *ngIf="track.addedToPlaylist" alt="Remove track from playlist" class='remove-circle clickable' (click)="removeTrack()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/>
      <path style="fill: #FFF;" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z"/></svg>
  </div>
<div class="clickable track-row-wrapper" (click)="setCurrent()">

  <img class="small-cover clickable" src="{{ track.coverLow }}" />
  <div>
    <div class="track clickable track-spacing"> {{ track.track }}</div>
    <div class="artist clickable track-spacing">
      <span *ngFor="let artist of track.artists; index as k">
        {{ artist.name }}
        <span *ngIf="track.artists.length > 1 && k !== track.artists.length - 1">,&nbsp;</span>
      </span>
    </div>
  </div>
</div>