  <div class="space signedin"></div>
  <div class="actions signedin">
    <div class="wrapper">
      <img class="album-cover" src="../assets/images/bibio.jpg">
      <!-- <a class="button button-med">Create Playlist</a>
      <a class="button button-med stroked">Clear Playlist</a>
      <div class="current-track">
        Track
        /
        Album
      </div>
      <div class="current-artist">Artist</div> -->
    </div>
  </div>
  <div class="wrapper">
    <a class="button button-med stroked">Clear Playlist</a>
    <a class="button button-med">Create Playlist</a>
  </div>
  <footer>
    <h1 class="brand footer">LikeFilter</h1>
  </footer>