:root {
    --accent: rgb(253, 193, 109);
    --accent-light: rgb(248, 207, 149);
    --secondary: #1B2431;
    --secondary-button: #fff;
    --tertiary: #75B3E7;

    --remove: #FFF;
    --pane: #5c5c5c;
    --sub-track: rgb(178, 183, 194);
    --text: #1B2431;
    --text-muted: rgb(76, 97, 132);
    --tab: rgb(69, 77, 96);
    --rec-row: rgba(69, 77, 96, .2);
    --background: #b7c9e2;
}

html {
    font-family: 'Exo', sans-serif;
    color: var(--text);
    overflow-x: hidden;
}

.flex-space {
    flex: 1;
}

.text-color {
    color: var(--text);
}

.container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    background-size: cover;
    justify-content: center;
    background: #B7C9E2;
    
}

a, a:visited, a:hover {
    text-decoration: none;
}

.links {
    display: inline-flex;
    justify-content: center;
}

.links > a {
    margin-top: 24px;
    font-size: 16px;
}

.link {
    font-weight: 800;
    color: var(--text);
}

.link:hover {
    color: var(--secondary-button);
}

.clickable:hover {
    cursor: pointer;
}

.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    padding: 6px 0;
    border: 0;
    border-radius: 2px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: var(--text);
    background: var(--accent);
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    max-width: 300px;
    min-width: 120px;
    
    transition: all .3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
}


.button:hover {
    text-decoration: none;
    box-shadow: 0 4px 10px 0px rgba(0,0,0,0.225);
}

.stroked {
    background: inherit;
    box-shadow: unset;
    color: var(--text);
}

.raised-accent {
    background: var(--accent);
    color: var(--secondary);
    transition: unset;
}

.raised-white {
    background: #fff;
    color: var(--secondary);
    transition: unset;
}

.raised-white:hover {
    box-shadow:unset;
}

.raised-accent:hover {
    box-shadow:unset;
}


.button.button-med.outlined {
    background: transparent;
    box-shadow: unset;
    border: 1px solid;
}


.button.stroked:hover {
    text-decoration: none;
    color: var(--accent);
    box-shadow: unset;
    background-color: var(--text);
}

.med-button {
    font-size: 16px;
    line-height: 24px;
    padding: 6px 16px;
    height: 40px;
}

.button-text {
    align-items: center;
    display: inline-flex;
    pointer-events: none;
}

.column {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 35%;
    /* padding: 0 0 2rem 0; */
}

.actions {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: auto;
    justify-content: center;
}


.flex-wrapper {
    flex-direction: column;
    width: 100%;
    max-width: 35vw;
    display: flex;
    align-items: center;
}


.flex-wrapper > a {
    width: 50%;
    /* margin-bottom: 16px; */
}

.title {
    max-width: 100%;
    margin: 0 12px;
}


.title--text {
    font-weight: 800;
    font-size: 90px;
    margin: 0 0 64px 0;
}

.vertical {
    margin: 25px 24px 0 24px;
    border-left: 1px solid var(--secondary);
    height: 12px;
}

footer {
    text-align: center;
    display: block;
    justify-content: center;
    font-size: 14px;
    max-width: 80%;
    padding: 16px 24px 1rem 24px;
}


/*  Shared track styles */
.track-row {
    font-family: 'Lato', sans-serif;
    color: var(--text);
    width: 100%;
    font-size: .75em;
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
}

.track-row-wrapper {
    display: flex;
    flex: 1;
}

.add {
    margin-left: 32px;
    height: 27px;
    align-self: center;
    /* color: var(--accent); */
    animation: .75s fadeIn;
    animation-fill-mode: forwards;
}

.remove-circle {
    margin-left: 32px;
    height: 27px;
    align-self: center;
    color: var(--accent);
    animation: .75s fadeIn;
    animation-fill-mode: forwards;
}

.small-cover {
    display: flex;
    border-radius: 5px;
    min-width: 64px;
    margin-right: 12px;
    margin-left: 32px;
}

.track-spacing {
    margin-top: 4px;
}

.track.track-spacing {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}


.track, .artist {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    text-align: left;
}

.artist {
    font-size: 1.1em;
    font-weight: 100;
    color: var(--text);
}


@media only screen and (max-width : 1024px) {
    .title--text {
        font-weight: 800;
        font-size: 50px;
        margin: 0 0 64px 0;
    }

}

@media only screen and (max-width : 932px) {
    .column {
        position: unset;
    }

    .tracks-list {
        width: 100%;
    }

}


@media only screen and (min-width : 684px) {

    .sm-screen {
        display: none;
    }    
}


@media only screen and (max-width : 684px) {

    .expand.clickable.lg-screen,
    .similar {
        display: none;
        visibility: hidden;
    }
    .sm-screen {
        position: relative;
        padding-right: 32px;
    }
    
    .brand-med {
        font-size: 32px;
    }

    .column {
        position: unset;
    }

    .playlist--track {
        width: 100%;
    }
    
    /*  show expand icon, hide button */

    .column-tracks {
        min-width: unset;
    }

    .tracks-wrapper {
        width: unset !important;
    }
}
